<div class="p-[50px]">
  <app-typography class="text-stroke" [fontText]="TextFont.QuicksandBold"
                  [typeText]="TextType.h1">Hey, I am
    <span class="text-primary"> Davide Bilardello
    </span>
  </app-typography>
  <app-typography cssClasses="text-primary mt-1" [fontText]="TextFont.QuicksandRegular"
                  [typeText]="TextType.h5">(My nickname is EscanorTargaryen)
  </app-typography>
  <br>
  <app-typography cssClasses="text-primary" [fontText]="TextFont.QuicksandRegular"
                  [typeText]="TextType.h2">I’m a junior software engineer and front-end developer
  </app-typography>
</div>
<div class="mt-[250px]  flex justify-evenly items-center">
  <div class="group transition duration-300 cursor-pointer">
    <app-typography (click)="scrollToElement('projects-title')" cssClasses="text-white" [fontText]="TextFont.QuicksandRegular"
                    [typeText]="TextType.h3">My Projects
    </app-typography>
    <span class="block mt-0.5 max-w-0 group-hover:max-w-full transition-all duration-500 h-[2px] bg-white"></span>
  </div>
  <div class="group transition duration-300 cursor-pointer">
    <app-typography cssClasses="text-white" [fontText]="TextFont.QuicksandRegular"
                    [typeText]="TextType.h3">About me
    </app-typography>
    <span class="block mt-0.5 max-w-0 group-hover:max-w-full transition-all duration-500 h-[2px] bg-white"></span>
  </div>
</div>
<div class="flex flex-col items-end p-5 mt-80">
  <div class="w-[50%]">
    <app-typography cssClasses="text-secondary text-center mb-10 projects-title" [fontText]="TextFont.QuicksandBold"
                    [typeText]="TextType.h2" id="projects-title">My Projects
    </app-typography>
    @defer {
      <app-project title="UltimateAdvancementGenerator"
                   description="UltimateAdvancementGenerator makes it possible to
      graphically design minecraft advancements and then run them on Spigot with UltimateAdvancementAPI. Use this
      tool to create your own custom advancements!"
                   [tags]="['Angular', 'Express.js']"
                   img="imgs/generator.png" [imgW]="1916"
                   [imgH]="1079"
                   website="https://generator.devheim.space/"
      ></app-project>
    }
  </div>
</div>
<div class="flex flex-col items-end  mt-96 p-20">
</div>

